@import "meyer-reset";

#container {
	max-width: 640px;
	width: 100%;
	margin: 40px auto 10px;
	padding: 25px 20px;
	min-height: 400px;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 5px 1px rgba(140,140,140,1);
	-moz-box-shadow: 2px 2px 5px 1px rgba(140,140,140,1);
	box-shadow: 2px 2px 5px 1px rgba(140,140,140,1);

	.ms-CommandBar {
		border: 1px solid #a6a6a6;
	}

	.ms-Pivot-links {
		border: 1px solid #a6a6a6;
	}
}

#header,
#currentList {
	margin-bottom: 20px;
}

#taskForm {
	display: none;
	padding: 30px 0;

	.ms-ProgressIndicator-itemProgress {
		width: 100%;
	}

	&.visible {
		display: block;
	}

	.formContainer {
		display: flex;
	}

	.ms-TextField {
		flex-grow: 1;
	}
}

#newListDialog {
	width: 300px;

	.ms-MessageBar {
		width: 100%;
	}
}

.templateHtml {
	display: none;
}

.hidden {
	display: none !important;
}

.ms-Pivot-link {
	&:focus,
	&:active {
		outline: 0;
	}
}

#taskList {
	margin: 20px 0;

	.ms-Pivot-links {
		width: 100%;
		margin-bottom: 20px;
	}

	.ms-Pivot-link {
		width: 33.3333%;
		margin-right: 0;
	}
}